$color-main-background: #faf8ef;
$color-button-background: #8f7a66;
$color-game-field-background: #bbada0;

$color-main-text: #776e65;
$color-secondary-text: #f9f6f2;

$color-cell-empty: rgba(238, 228, 218, 0.35);
$color-cell-2: #eee4da;
$color-cell-4: #eee1c9;
$color-cell-8: #f3b27a;
$color-cell-16: #f69664;
$color-cell-32: #f77c5f;
$color-cell-64: #f75f3b;
$color-cell-128: #edd073;
$color-cell-256: #edcc62;
$color-cell-512: #edc950;
$color-cell-1024: #edc53f;
$color-cell-2048: #edc22e;
