.game-row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: green;
  }
}
